* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}
/*PARTE 1 DE HEADER*/
.header_superior {
    width: 100%;
    display: flex;
    background: linear-gradient(to right, #00a8e8, #ffffff);
    align-items: center;
    padding: 10px;
}

.logo {
    width: 25%;
    max-width: 200px;
    margin-right: 10px;
    margin-left: 10%;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.informacion {
    display: flex;
    font-size: 12px;
    margin-left: 10%;
}

.informacion img{
    height: 40px;
    margin-right: 10px;
}

.contacto {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.ubicacion {
    display: flex;
    align-items: center;
}

/*PARTE2 DEL HEADER MENU*/

.menu {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    position: relative;
    padding: 5px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    
}

/* Estilos del submenú */
.menu .submenu ul {
    display: none;
    position: absolute;
    background-color: #444;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.menu .submenu:hover ul {
    display: block;
}

.menu .submenu ul li {
    border-bottom: 1px solid #666;
}
/* Estilos para el carrusel */
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 500px;
    width: 300%;
}
#maximo{
    padding: 2% 7%;
    background-color: #444;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    background-color: #444;
}

.imagenes{
    height: 700px;
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Tarjeta de Nuestras Caracteristicas */
/*
.card-container {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-between; /* Distribuye las tarjetas uniformemente en el espacio horizontal 
    margin: -10px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 70px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 28px;
    color: #000;
}

.content .para {
    line-height: 1.5;
    color: #000;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}
*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 10px;
}

.card {
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 50px;
    height: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: #e8e8e8;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.title-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
    flex: 1;
}

.content .heading {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.content .para {
    line-height: 1.5;
    color: #000;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #18099c 0%, #00aaff 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

/* Titulos de cada pagina */

/* Titulo de Nuestros Servicios*/
.hero {
    position: relative;
    width: 100%; /* Ancho al 100% del contenedor padre */
    height: 400px; /* Altura ajustable según tus necesidades */
    background: url('image/reparacion-trabajador-mantenimiento-servicio.jpg') center/cover no-repeat;
    background-size: cover;
    background-position: center bottom;
}
/* Titulo Nosotros - La Empresa */

.hero2 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/instatecservice.png') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #444;
}

.hero3 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/servicio_secadora.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero4 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/servicio_lavaseca.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero5 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/termotanque.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero6 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/servicio_jaccusi.jfif') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero7 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/servicio_estufa.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero8 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/servicio_refrigerado.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero9 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('image/termas.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-shadow: 2px 2px 5px #000;
}

/* Titulo de Servicio Tecnico de lavadoras*/ 

.hero1 {
    position: relative;
    width: 100%; /* Ancho al 100% del contenedor padre */
    height: 400px; /* Altura ajustable según tus necesidades */
    background: url('image/servicio_lavadora.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-shadow: 2px 2px 5px #000;
}

/* Por que Elegirnos */

/* Estilos para la lista de bloques con imagen */
.lista-bloques-con-imagen {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    padding: 20px;
}

.imagen {
    text-align: center;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.contenido {
    padding-left: 20px; /* Espacio entre la imagen y el contenido */
}

/* Estilos para el contenedor de bloques */
.bloques {
    display: flex;
    flex-direction: column; /* Organiza los bloques en una columna vertical */
    flex-grow: 1; /* Permite que los bloques ocupen todo el espacio restante */
}

/* Estilos para cada fila */
.fila {
    display: flex;
    justify-content: center; /* Centra los bloques horizontalmente en la fila */
    margin-bottom: 20px; /* Espacio entre filas */
}

/* Estilos para cada bloque */
.bloque {
    background-color: #f5f5f5;
    border: 1px solid #ddd; 
    padding: 20px;
    margin-right: 20px;
    width: 300px;
    border-radius: 15px;
}

/* Estilos para el título del bloque */
.bloque h3 {
    font-size: 18px;
    color: #333;
}

/* Estilos para el contenido del bloque */
.bloque p {
    font-size: 16px;
    color: #666;
}

/* Estilos para el título */
.contenido h2 {
    font-size: 34px;
    color: #333;
    margin-bottom: 20px; /* Espacio entre el título y los bloques */
}

/* Proceso */
/* Estilo para el contenedor principal */
.proceso-flecha {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna vertical */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    border-radius: 20px; /* Bordes redondeados */
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0); /* Fondo degradado */
    padding: 20px; /* Espacio alrededor del contenido */
}

/* Estilo para el título */
.titulo {
    background-color: #f0f0f0; /* Color de fondo del título */
    padding: 10px 20px; /* Espacio alrededor del título */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilo para los pasos */
.pasos {
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre los pasos */
    width: 100%; /* Ancho completo */
}

/* Estilo para cada paso */
.paso {
    text-align: center;
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo del paso */
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%); /* Forma de flecha */
    border-radius: 10px; /* Bordes redondeados */
    margin: 0 10px; /* Espacio entre los pasos */
}

.paso1 {
    background-color: #007acc; /* Azul */
    color: #ffffff; /* Texto blanco */
}

.paso2 {
    background-color: #00cc66; /* Verde */
    color: #ffffff; /* Texto blanco */
}

.paso3 {
    background-color: #ff6666; /* Rojo */
    color: #ffffff; /* Texto blanco */
}

.paso img {
    max-width: 60px;
    margin-bottom: 10px;
}

/* Estilo de la flecha */
.proceso-flecha::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f0f0f0;
    transform: translateX(-50%);
    z-index: -1;
}

/* Footer */

.pie-pagina {
    width: 100%;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(image/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 45px;
    margin-right: 10px;
    text-align: center;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* Boton pa Arriba */

.go-top-container {
    position: fixed;
    bottom: -2rem;
    right: -2rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button img {
    position: absolute;
    font-size: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .5s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show img {
    transform: translate(-50%, -50%) scale(1);
}

.whatsapp {
    position: fixed;
    left: 5px;
    bottom: 5px;
    z-index: 1;
    width: 80px;
}

.llamada-frio {
    display: none;
    margin-left: 20%;
    margin-right: 20%;
}

/* Mejora el Contenido de los Servicios */

.contenido1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.column-left {
    width: 70%;
    padding-right: 20px;
}

.column-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra contenido verticalmente */
}

/* Estilos para la información de contacto y botones */
.contact-info1 {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Lista de Problemas*/

.dual-list-container {
    display: flex;
    justify-content: flex-start;
}

.list-column {
    width: 50%;
    padding: 0 20px;
}

ul.lista-problemas, ul.lista-marcas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.lista-problemas li, ul.lista-marcas li {
    margin-bottom: 10px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

ul.lista-problemas li img, ul.lista-marcas li img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('image/correcto.png') no-repeat;
    background-size: contain;
    margin-left: 10px;
    vertical-align: middle;
}

/* Estilos para el título centrado */
.titulo {
    text-align: center;
    margin-top: -50px;
}
.contact-info-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.contact-info {
    text-align: center;
    margin: 0 10px;
}

.lavadora {
    text-align: center; /* Centrar el contenido */
}

.lavadora img {
    display: block;
    margin: 0 auto; /* Centrar las imágenes */
    width: 50%;
}

/* Estilos para la información de contacto y botones */
.contact-info1 {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* Estilos para el contenido de lavadora con padding reducido */
.lavadora {
    padding: 5rem;
}

.lavadora p {
    margin-bottom: 30px;
}

/* Estilos para las imágenes centradas y reducidas */
.lavadora img {
    display: block;
    margin: 10px auto;
    max-width: 70%;
    border-radius: 10px;
}

/* Boton de llamada */
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    border: 3px solid rgb(173, 216, 230);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

/* Estilos para el efecto hover */
.boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(173, 216, 230);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.boton:hover::before {
    transform: translateX(0);
}

/* Estilos para el icono o imagen en el botón */
.boton img {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

/* Estilos para centrar el texto en el botón */
.boton span {
    flex: 1; /* Hace que el texto ocupe todo el espacio restante horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Nosotros - Contenido */
.contenido-empresa {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilos para la imagen lateral */
.image-empresa {
    width: 40%; /* Aumenta el ancho de la imagen */
    height: auto;
    margin-right: 20px;
    margin-top: 30px;
}

/* Estilos para el contenido de texto */
.content-empresa {
    flex: 1;
    width: 100%;
    margin: 5%;
}

/* Estilos para el título */
.titu {
    font-size: 28px; /* Aumenta el tamaño de fuente del título */
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para el icono junto al título */
.titu img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Estilos para el párrafo */
.paragraph {
    font-size: 20px; /* Aumenta el tamaño de fuente del párrafo */
    line-height: 1.5;
} 

/* Boton Mision y Vision */

.contenido-vision-mision {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
}

.mensaje {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px; /* Espacio entre el mensaje y los botones */
    font-size: 16px;
    max-width: 70%;
}

.botones-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* Espacio entre los botones y el mensaje */
}

.custom-button {
    background: linear-gradient(-45deg, #00aae4 0%, #fff 100%);
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 3rem;
        height: 3rem;
    }
}

/* Slider de Marcas */
.slider_marcas { 
    width: 100%;
    height: 150px;
    margin: auto;
    overflow: hidden;
    background-color: #444;
}

.slider_marcas .slider-track {
    display: flex;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(200px * 22);
    gap: 20px;
    align-items: center; /* Alinea verticalmente las imágenes al centro */
    justify-content: flex-start;
}

.slider_marcas .slide1 {
    width: 150px;
    flex-shrink: 0;
    height: 100%;
}

.slider_marcas .slide1 img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hover-f img{
    border: none;
    width: 20px;
}

/* Estilos para el contenido de lavadora con padding reducido */
.lavadora {
    padding: 5rem;
}

.lavadora p {
    margin-bottom: 30px;
}

/* Estilos para las imágenes centradas y reducidas */
.lavadora img {
    display: block;
    margin: 10px auto;
    max-width: 90%;
    border-radius: 10px;
}

/* Boton de llamada */
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    border: 3px solid rgb(173, 216, 230);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

/* Estilos para el efecto hover */
.boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(173, 216, 230);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.boton:hover::before {
    transform: translateX(0);
}

/* Estilos para el icono o imagen en el botón */
.boton img {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

/* Estilos para centrar el texto en el botón */
.boton span {
    flex: 1; /* Hace que el texto ocupe todo el espacio restante horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-150px * 7));
        transform: translateX(calc(-150px * 7));
    }
}

@media (max-width: 1200px) {
    .imagenes{
        height: 500px;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header_superior{
        height: auto;
        flex-direction: column;
    }
    .logo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        margin-left: 5px;
        margin-right: 10px;
    }
    .logo img{
        width: 200px;
    }
    .informacion {
        font-size: 10px;
        margin-left: 10%;
    }
    .informacion img {
        height: 20px;
        margin-right: 5px;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }

    .menu .submenu ul {
        position: static;
        background-color: transparent;
        display: none;
    }

    .menu .submenu:hover ul {
        display: block;
    }
    .lista-bloques-con-imagen {
        flex-direction: column;
        text-align: center;
    }

    .imagen {
        max-width: 40%;
        margin: 0 auto;
    }

    .contenido {
        padding-left: 0; 
        text-align: center;
    }

    .bloques {
        flex-direction: column; /* Cambia a un diseño de columna */
    }

    .bloque {
        width: 100%; /* Asegura que los bloques ocupen todo el ancho disponible */
        margin-right: 0; /* Elimina el margen derecho entre los bloques */
    }

    .fila {
        margin-bottom: 10px; /* Espacio entre filas más pequeño */
    }

    .pasos {
        flex-direction: column;
    }

    /* Ajusta el ancho máximo de los pasos para llenar la pantalla */
    .paso {
        flex-basis: calc(50% - 20px); /* Divide la pantalla en 2 columnas con espacio entre ellas */
        margin: 0 0 20px; /* Agrega espacio inferior entre los bloques */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); /* Forma de cuadrado */
    }

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contenido-vision-mision {
        flex-direction: column;
        align-items: center;
    }
    
    .mensaje {
        max-width: 100%;
        margin-left: 0;
    }

    .custom-button{
        margin: 10px;
    }

    .botones-container {
        flex-direction: row;
        justify-content: center;
    }

    .contenido-empresa {
        flex-direction: column;
        align-items: center;
    }

    .titu {
        text-align: center;
        font-size: 22px;
    }

    .paragraph {
        margin: 10px;
        font-size: 15px;
    }
    .titulo {
        font-size: 20px; /* Reduce el tamaño del título */
    }

    p {
        font-size: 14px; /* Reduce el tamaño del texto */
    }

    .contenido1 {
        flex-direction: column;
    }

    .column-left, .column-right {
        width: 100%;
        padding: 0;
    }

    ol{
        text-align: left;
        list-style-type: upper-roman;
        list-style-position: inside;
        list-style-image: url(image/correcto.png);
    }
    .dual-list-container {
        flex-direction: column; /* Cambia la dirección del flex container a columna */
    }

    .list-column {
        width: 100%; /* Ancho completo para ambas columnas en vista responsiva */
    }

    .lavadora img {
        width: 100%;
    }
    #carrusel-caja {
        height: 250px;
    }
        
    .imagenes{
        height: 250px;
    }

    .llamada-frio {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 10px;
    }

    #callnowbutton {
        background-color: #3498db;
        border-radius: 50%;
        padding: 10px;
    }

    .llamada-icono {
        width: 30px;
        height: 30px;
    }
}